@{
    ViewBag.Title = "Не удалось";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewBag.Title!</h1>
    <h3 style="padding-bottom: 30px">Похоже, что некоторых книг нет в наличии. Но всегда можно найти другие!</h3>
</div>

