@{
    ViewBag.Title = "Успешно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewBag.Title!</h1>
    <h3 style="padding-bottom: 30px">Вы успешно осуществили бронирование! Для получения назовите номер брони (@ViewBag.Transaction) и свой Email.</h3>
</div>

