<section id="error404-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wrapper-1">
                <div class="error404">
                    <span>Ой!..</span>
                </div>
            </div>
            <div class="col-md-6 wrapper-1">
                <div class="details404">
                    <h3>Что-то пошло не так... Не расстраивайтесь, ничего не бывает потеряно навсегда!</h3>
                    <a href="/Home/Index" class="btn btn-flat flat-color"><i class="icon-long-arrow-left"></i> Верните меня домой!</a>
                </div>
            </div>
        </div>
    </div>
</section>
