
@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="error404-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wrapper-1">
                <div class="error404">
                    <span>404</span>
                </div>
            </div>
            <div class="col-md-6 wrapper-1">
                <div class="details404">
                    <h3>Мы все просмотрели, но ничего не смогли найти... Не сдавайтесь и попытайтесь еще раз!</h3>
                    <a href="/Home/Index" class="btn btn-flat flat-color"><i class="icon-long-arrow-left"></i> Верните меня домой!</a>
                </div>
            </div>
        </div>
    </div>
</section>

