@{
    ViewBag.Title = "О нас";
}

<section id="our-story" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wrapper-1">
                <div id="carousel-example-generic" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/assets/img/carousel/lib1.jpg" class="img-responsive img-align-center-500" alt="О нас 1">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/carousel/lib2.jpg" class="img-responsive img-align-center-500" alt="О нас 2">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/carousel/lib3.jpg" class="img-responsive img-align-center-500" alt="О нас 3">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 wrapper-1">
                <h5 class="subpage-title">Наша история</h5>
                <p>Наша библиотека была основана в 1995 году как мера повышения грамотности среди населения. Мы работаем уже больше 20 лет и по-прежнему надемся на Вашу поддержку.</p>
                <p>Наш фонд насчитывает около 20 000 единиц художественной литературы. Приходите к нам культурно провести время, а взамен мы Вам предложим чашку горячего чая.</p>
                <p>История начинается с хорошей книги. Надеемся, что и Ваша начнется здесь!</p>
            </div>
        </div>
    </div>
</section>

<section id="our-team" class="section colored-wrapper">
    <div class="container wrapper-2">
        <h5 class="subpage-title">Наши библиотекари</h5>
        <div class="row">
            <div class="col-md-4 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="~/assets/img/team/liban1.jpg" class="img-responsive" alt="Member Image">
                        <div class="overlay"></div>
                    </div>
                    <div class="team-member-info">
                        <h5>Марина Владимировна</h5>
                        <span>Выдача литературы</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="~/assets/img/team/liban2.jpg" class="img-responsive" alt="Member Image">
                        <div class="overlay"></div>
                    </div>
                    <div class="team-member-info">
                        <h5>Зоя Михайловна</h5>
                        <span>Старший библиотекарь</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-member-wrapper">
                <div class="team-member">
                    <div class="team-member-thumb">
                        <img src="~/assets/img/team/liban3.jpg" class="img-responsive" alt="Member Image">
                        <div class="overlay"></div>
                    </div>
                    <div class="team-member-info">
                        <h5>Влада Вадимовна</h5>
                        <span>Читальный зал</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
