@{
    ViewBag.Title = "Контакты";
}

<section id="google-map" class="section google-map">
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8957.439181435886!2d37.4928899075407!3d55.85642372938046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5382000ceda1f%3A0x998854f13048e540!2z0JHQuNCx0LvQuNC-0YLQtdC60LAg4oSWIDI3INCT0JHQo9CaINCzLiDQnNC-0YHQutCy0YsgItCm0JHQoSDQodCQ0J4i!5e0!3m2!1sru!2sru!4v1465675013657"></iframe>
</section>

<section id="contact-us" class="section contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wrapper-1">
                <h5 class="subpage-title"><i class="icon-compass"></i> Посетите нас</h5>
                <address>
                    <strong>Библиотека № 27</strong><br>
                    ул. Фестивальная, дом 67<br>
                    Время работы: 9:00 - 18:00
                </address>
            </div>
            <div class="col-md-6 wrapper-1">
                <h5 class="subpage-title"><i class="icon-phone"></i> Свяжитесь с нами</h5>
                <address>
                    Телефон: (495) 456-7890<br>
                    Факс: (495) 456-7890<br>
                    <a href="mailto:library@moscow.com">library@moscow.com</a>
                </address>
            </div>
        </div>
    </div>
</section>